@using Tech2023.DAL;
@using Tech2023.DAL.Models;
@model Subject

@foreach (var season in Enum.GetValues<Season>())
{
    @if (Model.CambridgeResource.Any(r => r.Season == season)) @* Ling queries will prove expensive *@
    {
        <h3 class="paper-category w-full bg-hint p-3 px-4 font-bold rounded-md">@Enum.GetName(season)</h3>
        <u1 class="list-none">
            @foreach (var paper in Model.CambridgeResource.Where(r => r.Season == season))
            {
                <li class="bg-secondary even:bg-opacity-30 border-b-2 border-hint rounded-md">
                    <a asp-controller="App" asp-action="Assessment"
                        asp-route-curriculum="@Curriculum.ToString(Model.Level, Model.Source)" asp-route-subject="@Model.Name"
                        asp-route-standard="@Cambrige.GetString(paper.Number, paper.Season, paper.Variant)">
                        <h5 class="paper p-3">
                            📜&ThickSpace;Paper @paper.Number - Variant @((byte)paper.Variant)
                        </h5>
                    </a>
                </li>
            }
        </u1>
    }
}