@model CambridgeAssessmentViewModel
@{
    var paperSetName = $"Paper {Model.Resource.Number} - Variant {(byte)Model.Resource.Variant} {Model.Resource.Season} papers";
    var subjectName = $"{Model.Subject.Name.ToTitleCase()} ({Curriculum.ToString(Model.Subject.Level, Model.Subject.Source)})";
    ViewData["Title"] = $"{subjectName} - {paperSetName}";
}

<vc:sidebar></vc:sidebar>

<div>
    <h1 class="m-2 mx-3">@subjectName</h1>
    <div class="w-full overflow-x-hidden pr-1">
        <h3 class="w-full bg-hint p-4 font-bold rounded-md">@paperSetName</h3>
        @foreach (var item in Model.Resource.Items.OrderByDescending(i => i.Year))
        {
            <a class="w-full" asp-controller="App" asp-action="PaperViewer" asp-route-curriculum="@Curriculum.ToString(Model.Subject.Level, Model.Subject.Source)" asp-route-subject="@Model.Subject.Name"
                        asp-route-standard="@Cambridge.GetString(Model.Resource.Number, Model.Resource.Season, Model.Resource.Variant)" asp-route-year="@item.Year">        
                <h3 class="bg-secondary hover:bg-hint/50 p-4 m-1.5 hover:underline rounded-xl transition-colors ease-out">
                    @item.Year
                </h3>
            </a>
        }
    </div>
</div>