@using Tech2023.Core;
@using Tech2023.DAL;
@using Tech2023.Web.ViewModels;
@model SubjectDashboardViewModel
@{
    ViewData["Title"] = "Home";
}

<vc:sidebar></vc:sidebar>


<div id="dashboard" class="h-full ml-3 space-y-1 overflow-y-scroll">
    <h1 class="ml-0">Dashboard</h1>
    <div id="subjects-list">
        <h2 class="font-bold">My Subjects</h2>
        <div class="grid grid-flow-col auto-cols-min gap-5 overflow-x-auto">
            @foreach (var subject in Model.SavedSubjects)
            {
                <a asp-controller="App" asp-action="PaperBrowser" asp-route-curriculum="@Curriculum.ToString(subject.Level, subject.Source)"
                    asp-route-subject="@subject.Name" class="subject-item h-44 w-72 my-2 rounded-3xl" style="background-color: @HtmlHexString.GetHtmlHexString(subject.DisplayColor);">
                    <h3 class="p-5 font-bold drop-shadow-xl">@subject.Name.ToTitleCase() - @Curriculum.ToString(subject.Level, subject.Source)</h3>
                </a>
            }
            <a asp-controller="Subjects" asp-action="Home"
                class="group flex flex-col justify-center items-center h-44 w-72 my-2 hover:bg-hint/30 border-hint/50 hover:border-hint border-2 rounded-3xl transition-colors duration-150 ease-out">
                <span class="icon bg-hint/40 group-hover:bg-hint/60 translate-y-5 group-hover:translate-y-0 p-4 rounded-full transition-all duration-150 ease-out">add</span>
                <h3 class="font-bold mt-3 drop-shadow-xl translate-y-5 group-hover:translate-y-0 opacity-0 group-hover:opacity-100 transition-all duration-150 ease-out">Add</h3>
            </a>
        </div>
    </div>

    <div id="recent-papers-list">
        <h2 class="font-bold">Recent</h2>
        <div class="grid grid-flow-col auto-cols-min gap-5 overflow-x-auto">
            @for (int i = 0; i < 8; i++)
            {
                <a asp-controller="App" asp-action="PaperViewer" class="subject-item h-44 w-72 my-2 p-5 bg-gradient-to-br from-gray-400 to-gray-600 rounded-3xl">
                    <div class="font-bold drop-shadow-xl">
                        <h4>Maths</h4>
                        <h3>Paper 1 - Feb/Mar (Zone 1)</h3>
                    </div>
                </a>
            }
        </div>
    </div>
</div>