@using Tech2023.Web.Shared;
@model PaginatedList<SubjectViewModel>
@{
    ViewData["Title"] = "Admin - Edit Subjects";

    var previousDisabled = !Model.HasPreviousPage ? "disabled" : string.Empty;
    var nextDisabled = !Model.HasNextPage ? "disabled" : string.Empty;
}

<vc:sidebar></vc:sidebar>

<div class="py-2 px-3 max-h-full overflow-y-auto pb-[var(--sidebar-search-height)] md:pb-0">
    <h1>Edit Subjects</h1>
    
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <div class="flex items-center justify-between pb-4">
            <label for="table-search" class="sr-only">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <span class="icon-sm text-light-hint">search</span>
                </div>
                <input type="text" id="table-search"
                    class="block p-3 pl-10 text-sm text-white rounded-full w-80 bg-secondary outline-none border-2 border-light-hint border-opacity-0 focus:border-opacity-80 transition-colors duration-75 ease-out"
                    placeholder="Search for subjects">
            </div>
        </div>
        <table class="w-full text-sm text-left text-light-hint rounded-md">
            <thead class="text-sm font-semibold bg-hint/90 rounded-md">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Subject
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Curriculum
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="border-b bg-hint/50 even:bg-hint/30 border-light-hint/60 hover:bg-hint/80 font-semibold">
                        <th scope="row" class="px-6 py-4 w-1/3 text-lg whitespace-nowrap text-white">
                            @item.Name.ToTitleCase()
                        </th>
                        <td class="px-6 py-4">
                            @Curriculum.ToString(item.Level, item.Source)
                        </td>
                        <td class="inline-flex items-center space-x-1 px-6 py-4">
                            <a href="#" class="text-blue-600 underline hover:no-underline">Edit</a>
                            <div class="h-5 w-0.5 bg-hint mt-1 rounded-full"></div>
                            <button onclick="interactions.dialog.showDialog('delete-@(item.Id)-modal', true)"
                             class="text-red-600 underline hover:no-underline">Delete</button>
                        </td>
                        <div class="absolute h-full">
                            <dialog
                                id="delete-@(item.Id)-modal"
                                class="font-semibold">
                                <h3>Delete @item.Name.ToTitleCase() - @Curriculum.ToString(item.Level,
                                item.Source)?</h3>
                                <form method="post" asp-controller="Admin" asp-action="DeleteSubject" asp-route-id="@item.Id"
                                    class="w-full flex flex-row justify-end mt-4 space-x-4">
                                    <button formmethod="dialog" type="submit" class="p-2 hover:underline">Go back!</button>
                                    <button class="inline-flex bg-red-500/90 p-2 rounded-lg" type="submit">
                                        Yes, Delete
                                    </button>
                                </form>
                            </dialog>
                        </div>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    <div class="flex space-x-4 my-2">
        <form asp-controller="Admin" asp-action="Subjects" method="get">
            <input type="hidden" name="pageNumber" value="@(Model.PageIndex - 1)" />
            <button type="submit" disabled="@(!Model.HasPreviousPage)"
                class="inline-flex items-center bg-hint hover:bg-hint/80 text-white font-bold p-3 pr-4 rounded-xl disabled:bg-transparent disabled:cursor-not-allowed disabled:opacity-50">
                <span class="icon-sm pr-1">chevron_left</span>
                Previous
            </button>
        </form>

        <form asp-controller="Admin" asp-action="Subjects" method="get">
            <input type="hidden" name="pageNumber" value="@(Model.PageIndex + 1)" />
            <button type="submit" disabled="@(!Model.HasNextPage)"
                class="inline-flex items-center bg-hint hover:bg-hint/80 text-white font-bold pl-4 p-3 rounded-xl disabled:bg-transparent disabled:cursor-not-allowed disabled:opacity-50">
                Next
                <span class="icon-sm pl-2">chevron_right</span>
            </button>
        </form>
    </div>

</div>
