@using Tech2023.Web.Shared;
@model PaginatedList<SubjectViewModel>
@{
    ViewData["Title"] = "Admin - Edit Subjects";

    var previousDisabled = !Model.HasPreviousPage ? "disabled" : string.Empty;
    var nextDisabled = !Model.HasNextPage ? "disabled" : string.Empty;
}

<vc:sidebar></vc:sidebar>

<div class="py-2 px-3">
    <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
        <div class="flex items-center justify-between pb-4">
            <label for="table-search" class="sr-only">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                </div>
                <input type="text" id="table-search" class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for items">
            </div>
        </div>
        <table class="w-full text-sm text-left bg-secondary text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                <tr>
                    <th scope="col" class="px-6 py-3">
                        Subject
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Curriculum
                    </th>
                    <th scope="col" class="px-6 py-3">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                        <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                            @item.Name.ToTitleCase()
                        </th>
                        <td class="px-6 py-4">
                            @Curriculum.ToString(item.Level, item.Source)
                        </td>
                        <td class="px-6 py-4">
                            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                        </td>
                    </tr>                    
                }
            </tbody>
        </table>
    </div>

    <div class="flex space-x-4">
        <form asp-controller="Admin" asp-action="Subjects" method="get">
            <input type="hidden" name="pageNumber" value="@(Model.PageIndex - 1)" />
            <button type="submit"
                    disabled="@(!Model.HasPreviousPage)"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full
                disabled:bg-gray-300 disabled:cursor-not-allowed disabled:opacity-50">
                Previous
            </button>
        </form>

        <form asp-controller="Admin" asp-action="Subjects" method="get">
            <input type="hidden" name="pageNumber" value="@(Model.PageIndex + 1)" />
            <button type="submit"
                    disabled="@(!Model.HasNextPage)"
                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-full disabled:bg-gray-300 disabled:cursor-not-allowed disabled:opacity-50">
                Next
            </button>
        </form>
    </div>

</div>
