@model SidebarViewModel;

@{
    bool isBrowsing = Model.BrowseData is not null;
    string currentSubjectName = "";
    if(Model.BrowseData is not null) {
        var currentSubject = Model.BrowseData.SelectedSubject;
        currentSubjectName = $"{StringHelpers.ToTitleCase(currentSubject.Name)} ({Curriculum.ToString(currentSubject.Level, currentSubject.Source)})";
    }
}

<style>
    :root {
        --sidebar-width: 21rem;
        --sidebar-search-height: 5.5rem;
        --sidebar-collapsed-height: calc(100dvh - var(--navbar-height, 0rem) - var(--sidebar-search-height));
    }

    #sidebar {
        --sidebar-filter-height: 8rem;
        --sidebar-utils-height: 4rem;
        --sidebar-back-button-height: @(isBrowsing ? "2.25rem" : "0rem");
    }

    .sidebar-content {
        height: calc(100dvh - var(--navbar-height, 0rem) - var(--sidebar-search-height) - var(--sidebar-utils-height) - var(--sidebar-back-button-height) - 0.5rem)
    }
</style>
<aside id="sidebar"
    class="sidebar z-20 flex flex-col fixed md:relative h-full w-full md:w-[var(--sidebar-width,_21rem)] bg-secondary 
           rounded-t-[2.5rem] md:rounded-none translate-y-[var(--sidebar-collapsed-height)] md:translate-y-0 left-0 p-1
           transition-transform duration-200 ease-out">
    @* TODO: Implement swipe up gesture for mobile devices + layout changes *@
    <form id="search" method="get" asp-controller="Search" asp-action="Search" class="flex flex-col items-center px-3 pt-2" 
    style="height: var(--sidebar-search-height, 5.5rem)">
        <div class="md:hidden h-1 w-12 mb-2 bg-light-hint rounded-full"></div>
        <input type="text" name="query" placeholder="🔎 Search" autocomplete="off" id="search-bar"
            class="bg-background w-full px-5 py-3 rounded-full outline-none border-2 border-light-hint 
            border-opacity-0 focus:border-opacity-80 transition-colors duration-150 ease-out">
    </form>

    @if (isBrowsing)
    {
        <div class="relative">
            <button id="back-to-subjects" class="absolute inline-flex items-center space-x-3 pl-4 pb-4 bg-secondary 
            data-[show=false]:-translate-x-[calc(100%_+_0.5rem)] data-[show=false]:opacity-0 transition-all duration-150 ease-out" data-show="true" 
            onclick="document.getElementById('sidebar-papers').dataset.show = this.dataset.show ='false';" style="height: var(--sidebar-back-button-height);">
                <span class="icon-sm">west</span>
                <h5 class="font-semibold">@currentSubjectName</h5>
            </button>
        </div>
    }

    <div id="sidebar-items" class="flex flex-col justify-between h-full">
        @if (isBrowsing)
        {
            <div id="sidebar-papers" class="absolute z-30 bg-secondary sidebar-content overflow-y-auto translate-y-[var(--sidebar-back-button-height)] data-[show=false]:-translate-x-[calc(100%_+_0.5rem)] transition-transform duration-150 ease-out" data-show="true">
                <div id="paper-filter" class="bg-gradient-to-br from-hint to-hint/40 mx-2 my-2 p-3 rounded-2xl shadow-xl "
                    style="height: var(--sidebar-filter-height, 8rem) max-width: var(--sidebar-width, 21rem)">
                    <h4 class="flex items-center font-bold">
                        <span class="icon mr-1">filter_alt</span> Filter
                    </h4>
                    <div class="grid grid-rows-2 grid-flow-col pt-2 ml-1 gap-x-2">
                        @for (int i = 0; i < 4; i++)
                        {
                            <label class="font-semibold text-lg" for="category">Year</label>
                            <div id="category-@i" class="">
                                <button class="flex flex-row items-center justify-between rounded-md bg-background"
                                    onclick="interactions.element.toggleHiddenElement('category-@i-options', true)">
                                    <p class="w-10 overflow-hidden whitespace-nowrap overflow-ellipsis">12313132123</p>
                                    <span class="icon-sm">expand_more</span>
                                </button>
                                <div id="category-@i-options"
                                    class="z-40 hidden fixed bg-background px-4 py-3 border-2 border-hint rounded-xl animate-slide-down">
                                    <ul>
                                        @for (int j = 0; j < 6; j++)
                                        {
                                            <li>
                                                <input type="checkbox" name="@j" id="option-@i-@j" value="@j"> @j 2084
                                            </li>
                                        }
                                    </ul>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div id="sidebar-papers" class="w-full overflow-x-hidden pr-1">
                    @for (int i = 2023; i > 2017; i--)
                    {
                        <h4 class="paper-category inline-block font-semibold h-6 w-full mb-2 px-4">
                            @i</h4>

                        <div class="px-4">
                            @for (int j = 0; j < 8; j++)
                            {
                                <a asp-controller="App" asp-action="PaperViewer"
                                    class="subject bg-secondary hover:bg-background py-3 rounded-xl shadow-xl transition-colors duration-50 ease-linear">
                                    <div class="inline-block w-full my-1 px-1 font-semibold items-center justify-start text-md">
                                        <p class="paper p-3">
                                            📜&ThickSpace; Paper 1 - Feb/Mar (Zone 1)
                                        </p>
                                    </div>
                                </a>
                            }
                        </div>
                    }
                </div>
            </div>
        }
        <div id="sidebar-subjects">
            <div id="favourites-section"
                class="inline-flex justify-start items-baseline h-6 mb-1 mx-3 text-light-hint space-x-1">
                <div>📕</div>
                <p class="font-bold">My Subjects</p>
            </div>
            <div id="subject-list" class="flex flex-col px-2 h-full space-y-2 overflow-y-auto">
                @foreach (var subject in Model.SavedSubjects)
                {
                    <div class="group flex flex-row bg-secondary hover:bg-background py-2 rounded-xl shadow-2xl transition-colors duration-50 ease-linear">
                        <a asp-controller="App" asp-action="PaperBrowser"
                            asp-route-curriculum="@Curriculum.ToString(subject.Level, subject.Source)"
                            asp-route-subject="@subject.Name"
                            class="subject w-full my-auto">
                            <div class="inline-flex px-4 font-semibold items-center justify-start text-md">
                                <div class="subject-icon text-center w-6 h-6 rounded-md mr-3"
                                    style="background-color: @HtmlHexString.GetHtmlHexString(subject.DisplayColor);">
                                    <p class="drop-shadow-[0_0_1.5px_rgb(0,0,0,0.6)]">@subject.Name[0]</p>
                                </div>
                                <p>@subject.Name.ToTitleCase() (@Curriculum.ToString(subject.Level, subject.Source))
                                </p>
                            </div>
                        </a>
                        <button
                            onclick="interactions.dialog.showDialog('delete-@(@subject.Name.ToLower() + '-' + @Curriculum.ToString(subject.Level, subject.Source).ToLower())-modal', true)"
                            class="bg-transparent mr-2 opacity-0 group-hover:opacity-100 rounded-xl transition-all duration-75 ease-out">
                            <span
                                class="icon-sm hover:bg-hint/50 rounded-xl text-red-500 p-2 transition-colors duration-75 ease-out">delete</span>
                        </button>
                    </div>
                    <div class="absolute h-full">
                        <dialog
                            id="delete-@(@subject.Name.ToLower() + '-' + @Curriculum.ToString(subject.Level, subject.Source).ToLower())-modal"
                            class="font-semibold">
                            <h3>Delete @subject.Name.ToTitleCase() - @Curriculum.ToString(subject.Level, subject.Source)?</h3>
                            <form method="post" asp-controller="Subjects" asp-action="Delete" asp-route-id="@subject.Id"
                                class="w-full flex flex-row justify-end mt-4 space-x-4">
                                <button formmethod="dialog" type="submit" class="p-2 hover:underline">Go back!</button>
                                <button class="inline-flex bg-red-500/90 p-2 rounded-lg" type="submit">
                                    Yes, Delete
                                </button>
                            </form>
                        </dialog>
                    </div>
                }
                <button onclick="interactions.dialog.showDialog('add-subject', true)" 
                    class="group bg-secondary hover:bg-background py-2 rounded-xl shadow-xl transition-colors duration-50 ease-linear">
                    <div class="flex flex-row items-center justify-start px-4 font-semibold text-md">
                            <div class="rounded-md mr-3 mt-1 my-auto">
                                <span class="icon-sm bg-hint/80 rounded-md">add</span>
                            </div>
                            <p class="my-auto">Add Subject</p>
                    </div>
                </button>

                <div class="absolute h-full">
                    <dialog id="add-subject" class="bg-secondary font-semibold">
                        <h3 class="mb-2">Add Subject</h3>
                        <div class="flex flex-col">
                            <label for="selected-curriculum">Select Curriculum</label>
                            <select id="selected-curriculum"
                                onchange="interactions.forms.addSubjects.updateOptionsBasedOnCurriculum('selected-subject', 'selected-curriculum')">
                                <option value="none" class="hidden">-</option>
                                @foreach (var curriculum in Enum.GetValues<CurriculumSource>())
                                {
                                    switch (curriculum)
                                    {
                                        case CurriculumSource.Ncea:
                                            <option data-curriculum="@curriculum.ToString().ToLower()">
                                                NCEA
                                            </option>
                                            break;
                                        case CurriculumSource.Cambridge:
                                            <option data-curriculum="@curriculum.ToString().ToLower()">
                                                CAIE
                                            </option>
                                            break;
                                        default:
                                            <option data-curriculum="@curriculum.ToString().ToLower()">
                                                @curriculum.ToString()
                                            </option>
                                            break;
                                    }
                                }
                            </select>
                        </div>
                        <form id="add-subject-form" method="get" asp-controller="Subjects" asp-action="Add"
                            class="flex flex-row items-center">
                            <div class="flex flex-col">
                                <label for="curriculum">Select Subject</label>
                                @* TODO: Implement subject logic *@
                                <select id="selected-subject" name="id">
                                    <option value="none" class="hidden">-</option>
                                    @foreach (var subject in Model.AllSubjects)
                                    {
                                        if (!Model.SavedSubjects.Contains(subject))
                                        {
                                            <option value="@subject.Id" class="hidden"
                                                data-curriculum="@subject.Source.ToString().ToLower()">
                                                @subject.Name.ToTitleCase() (@Curriculum.ToString(subject.Level,
                                        subject.Source))
                                            </option>
                                        }
                                    }
                                </select>
                            </div>
                        </form>
                        <div class="flex flex-row w-full items-center justify-end pt-2 space-x-2">
                            <button onclick="interactions.dialog.closeDialog('add-subject')" class="p-2 hover:underline">Go back!</button>
                            <button id="add-subject" onclick="document.getElementById('add-subject-form').submit()"
                                class="inline-flex items-center bg-background hover:bg-secondary/60 p-2 pr-4 rounded-md">
                                <span class="icon-sm mr-2">add</span>
                                <h6 class="font-semibold">Add</h6>
                            </button>
                        </div>
                    </dialog>
                </div>
            </div>
        </div>
        <div id="sidebar-utils" class="flex flex-col my-2 bottom-0" style="height: var(--sidebar-utils-height)">
            <a asp-controller="Settings" asp-action="Index"
                class="bg-secondary hover:bg-background py-3 mx-3 my-2 rounded-xl shadow-xl transition-colors duration-50 ease-linear">
                <div class="inline-flex px-4 font-semibold items-center justify-start text-md">
                    <span class="icon-sm text-md w-6 h-6 rounded-md mr-3">settings</span>
                    <p>Settings</p>
                </div>
            </a>
        </div>
    </div>
</aside>